<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.MessageLevelMapper">
    <update id="updateSendLevelByUserIdAndNovelId">
        update yike_novel_bookshelf
        SET sendLevel = #{sendLevel}
        WHERE userId = #{userId}
          AND novelId = #{novelId}
          AND status != 0;
    </update>


    <select id="getSendLevelByUserIdAndNovelId" resultType="java.lang.Integer">

    select sendLevel from yike_novel_bookshelf where userId = #{userId} and novelId = #{novelId} and status != 0
    </select>
    <select id="getYikeNovelSubscribeAuditByUserIdAndNovelId"
            resultType="vip.xiaozhao.intern.baseUtil.intf.entity.YikeNovelSubscribeAudit">
        SELECT id,novelId,userId,ChapterId,addTime,timeGap
        FROM yike_novel_subscribe_audit
        WHERE userId = #{userId} AND novelId = #{novelId}
        ORDER BY addTime DESC
        LIMIT 3;

    </select>
</mapper>