<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.xiaozhao.intern.baseUtil.intf.mapper.NovelInfoMapper">


    <select id="getNovelInfoByNovelId" resultType="vip.xiaozhao.intern.baseUtil.intf.entity.NovelInfo">
        SELECT
            id,                    -- 主键，自增ID
            authorId,             -- 作者ID
            bookName,             -- 书名
            authorName,           -- 作者名
            `Desc`,          -- 描述
            subscribeNum,         -- 订阅数量
            weekSubNum,           -- 每周订阅数量
            monthSubNum,          -- 每月订阅数量
            searchNum,            -- 搜索数量
            bookUrl,              -- 书的URL
            cover,                -- 封面
            lastUpdateTime,       -- 最后更新时间
            searchUpdateTime,     -- 搜索更新时间
            regex,
            searchKey,            -- 搜索关键字
            latestChapterId,      -- 最新章节ID
            latestChapter,        -- 最新章节
            chapterUrl,           -- 章节URL
            searchLatestChapter,   -- 搜索最新章节
            status,               -- 状态
            addTime,              -- 默认为当前时间
            updateTime            -- 更新时间
        FROM novel_info
        WHERE id = #{novelId};

    </select>

</mapper>